* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  ol,
  ul {
    list-style: none;
  }
  del {
    text-decoration: line-through;
  }
  body {
    font-family: 'Gorditas-regular', Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #000000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;
  }
  input,
  textarea,
  select {
    font-family: 'Gordita-regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  
  p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: 'Gordita-regular', Arial;
    font-weight: 400;
    color:#898989 ;
  }
  h1{
    font-family:'Gordita-bold' ;

  }
  h2{
    font-family:'Gordita-bold' ;

  }
  h3{
    font-family:'Gordita-bold' ;

  }
  h4{
    font-family:'Gordita-bold' ;

  }
  h5{
    font-family:'Gordita-bold' ;

  }
  span.label {
    color: #FE9A52;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
  }

  br.clear {
    clear: both;
    line-height: 0;
  }
  .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
  }


@font-face {
    font-family: 'Gordita-bold';
    src: url('font/Gordita-Bold.woff2') format('woff2'),
        url('font/Gordita-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Gordita-Regular';
    src: url('font/Gordita-Regular.woff2') format('woff2'),
        url('font/Gordita-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

Header{
    height: 100px;
    background-color: #fff;
    padding: 20px 0 0;
    


}
Header Section.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
Header div.left{
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center
    
}
Header div.left h1{
    width: 150px;
    
}
Header div.left h1 a{
    width: 100%;
    display: block;
    
}
Header div.left h1 a img{
    display: block;
    width: 100%;
    
}
Header div.left Nav.middle{
    width: 50%;

    
}
Header div.left Nav.middle ul{
    display: flex;
    justify-content: space-between;
    align-items: center
    
}
Header div.left Nav.middle ul li{

    
}
Header div.left Nav.middle ul li a{
    display: inline-block;
    color:#898989 ; 
    font-size: 18px;
    font-weight: 500;
    
}
Header div.left Nav.middle ul li a:hover{
    font-weight: 700;
    color: #1E1E1E;
    
}
Header div.right{
    align-items: center
    
}
Header div.right ul{
    display: flex;
    justify-content: space-between;
    align-items: center
    
}
Header div.right ul li{
    
}
Header div.right ul li a{
    color: #1f6bff;
    font-size: 18px;
    font-weight: 500;
    display: block;
    
}
Header div.right ul li a:hover{
    color: #0444c5;

    
}
Header div.right ul li a.button{
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
    color: #fff;
    background: #1f6bff;
    padding: 12px 24px;
    border-radius: 10px;
    display: block;
}
Header div.right ul li a.button:hover{
    background: #044cdb;
    
}
#spotlight{
    background-image: url(Assets/spotlight.png);
    background-repeat: no-repeat;
    background-position: right 50px  top 0;
    background-size: 500px 500px;
    margin-top: 60px;
    padding-bottom: 80px;

}
#spotlight Section.wrapper{
    
}
#spotlight Div.top{
    
}
#spotlight Div.top span.label{
    color: #FE9A52;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;

    
}
#spotlight Div.top h1{
    font-weight: 700;
    font-size: 60px;
    font-style:Gordita-regular ;
    width: 40%;
    line-height: 1.7em;
    margin-bottom: 30px;
    
}
#spotlight Div.top p{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    width: 50%;
    
}
#spotlight Div.top form{
    
}
#spotlight Div.top form ul{
    position: relative;
    width: 50%;
    background: #f5f5f5;
    padding: 10px 24px;
    border-radius: 12px;
    margin-bottom: 30px;
    
    
}
#spotlight Div.top form ul li{
    margin-bottom: 10px;


    
}
#spotlight Div.top form ul li input[type="email"]{
    color: #898989 ;
    width: 100%;
    font-size: 20px; 
}
#spotlight Div.top form ul li input[type="submit"]{
    background: #1f6bff;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 24px 34px;
    position: absolute;
    right: 12px;
    top: 12px;
    border-radius: 8px;
    cursor: pointer;
    
}
#spotlight Div.top form ul li label{
    font-size: 28px;
    font-weight: 600;
    color: #000;
    text-transform: none;
    margin-top: 20px; 
}
#spotlight Div.top form:hover label{
   visibility: hidden;


    
}
#spotlight Div.top form ul li label::after{
    content: ' |';
    
}
#spotlight Div.bottom{
    width: 50%;
    align-items: center;
    
}
#spotlight Div.bottom ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
#spotlight Div.bottom ul li{
 
    width: 80px;
    
}
#spotlight Div.bottom ul li img{
    display: block;
    width: 100%;
    
}
#product{
   
    padding: 80px 0;


}
#product section.wrapper{
    
}
#product Div.top{
    text-align: center;
    
    
}
#product Div.top span.label{
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
    
}
#product Div.top h2{
    font-size: 48px;
    font-family: 'Gordita-regular';
    font-weight: 600;
    width: 35%;
    margin: 0 auto;
    
}
#product Div.middle{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
}
#product Div.middle div.item{
    width: 28%;
    
}
#product Div.middle div.item.one{
    
}
#product Div.middle div.item.two{
    
}
#product Div.middle div.item.three{
    
}
#product Div.middle div.item ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#product Div.middle div.item ul li{
    
}
#product Div.middle div.item ul li div.img_container{
    width: 100%;
    background-color: #eaeff5;
    margin: 0 auto;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
   
}
#product Div.middle div.item.two ul li div.img_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    flex-direction: column;
   
}
#product Div.middle div.item.three ul li div.img_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 40px 0;
}
#product Div.middle div.item ul li div.img_container img{
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 80%;
    
    
}
#product Div.middle div.item.two ul li div.img_container img{
    display:block;
    height: 30%;
    width: 80%;
    margin-bottom: 10px;
    
}
#product Div.middle div.item.two ul li div.img_container img:last-child{
    margin-bottom: 0;
    
}

#product Div.middle div.item.three ul li div.img_container span{
    width: 35%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
   
  
    
}
#product Div.middle div.item.three ul li div.img_container span:nth-child(odd){
  margin-right: 10px;

    
}
#product Div.middle div.item.three ul li div.img_container span img{
    width: 40%;
    display: inline-block;
   
    
}
#product Div.middle div.item ul li a{
    display: block;
    color: #000;
    margin-bottom: 20px;
        
}

#product Div.middle div.item ul li h3{
    font-weight: 500;
    font-size: 36px;
    width: 85%;
    font-weight: 600;
    font-family: 'Gordita-regular'

 
    
}
#product Div.middle div.item ul li p{
    font-weight: 600;
    font-size: 22px;
    width: 85%;
    
}
#finance{
    background-image: url(Assets/graph_image.png);
    background-repeat: no-repeat;
    background-position: right 50px top 0px;
    background-size: 650px 450px;
    margin-bottom: 80px;

}
#finance Section.wrapper{
    
}
#finance Div.top{
    margin: 0 auto;
    margin-bottom: 40px;
    
}
#finance Div.top h2{
    font-size: 48px;
    font-family: 'Gordita-regular';
    font-weight: 600;
    width: 35%;
    

    
}
#finance Div.bottom{
    
}
#finance Div.bottom ul{
    
}
#finance Div.bottom ul li{
    margin: 20px 0;
    width: 35%;
    border-bottom: 2px solid #eaeff5;
    
}
#finance Div.bottom ul li.active{
    margin: 20px 0;
    width: 35%;
    border-bottom: 2px solid #eaeff5;
   
}
#finance Div.bottom ul li a{
    display: flex;
    align-items: center;
    color: #000;
    margin-bottom: 20px;
  
}
#finance Div.bottom ul li.active a{
    color: #000;
    margin-bottom: 20px;
   
}
#finance Div.bottom ul li a h3{
    margin-right: 20px;
    font-weight: 400;
    
}
#finance Div.bottom ul li.active a h3{
    font-weight: 400;
}
#finance Div.bottom ul li a img{
    display: block;
  
}
#finance Div.bottom ul li p{
    margin: 20px 0px;
    font-weight: 600;
    font-size: 14px;  

}
#finance Div.bottom ul li a.button{
    display: inline-block;
    margin-bottom: 20px;
    color: #FE9A52;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
   
    
}
#finance Div.bottom ul li a.button img{
    display: inline-block; 
    width: 15px;
    margin-left: 10px;

}

#app{
    margin-bottom: 60px;
  

}
#app Section.wrapper{
    display: flex;
    justify-content: space-between;
    
}
#app div.bg{
    position:relative;
    height: 500px;
    width: 850px;
    background-color: #1f6bff;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    left: -70px;
    top: 0px;
    
}
#app div.bg img{
    position: absolute;
    display: block;
    width: 415px;
    top: -50px;
    right: 50px;
   
    
}
#app Div.container{
    margin-right: 0px;
    margin-left: 60px;
    
}
#app Div.container span.label{
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    
}
#app Div.container h2{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;
    width: 70%;
}
#app Div.container p{
    margin-bottom: 30px;
    width: 65%;
    font-size: 16px;
    font-weight: 600;
}
#app Div.container ul{
    display: flex;
    justify-content: space-between;
    width: 70%;
    
}
#app Div.container ul li{
    width: 48%;
    
}
#app Div.container ul li a{
    display: block;
    width: 100%;

    
}
#app Div.container ul li a img{
    display: block;
    width: 100%;

    
}

#testimonials{
    padding: 60px 0;
    text-align: center;
    background-color: #eaeff5;

}
#testimonials Section.wrapper{
    
}
#testimonials Div.top{
    
}
#testimonials Div.top Span.label{
    display: block;
    margin-bottom: 30px;
    font-size: 20px;
    
}
#testimonials Div.top h2{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 53px;
    
}
#testimonials Div.top p{
    font-size: 16px;
    font-weight: 600;
    width: 40%;
    margin: 0 auto;
    
    
}
#testimonials Div.bottom{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 80px;
    
}
#testimonials Div.bottom div.item{
    border-radius: 10px;
    background-color: #fff;
    width: 24%;
   

    
}
#testimonials Div.bottom div.item ul{
    width: 100%;
    
}
#testimonials Div.bottom div.item ul li{
    text-align: left;
    padding: 15px 20px;
    
}
#testimonials Div.bottom div.item ul li img{
    width: 100px;
    display: block;
    margin-bottom: 20px;
    
}
#testimonials Div.bottom div.item ul li blockquote{
    width: 90%;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5em;
    font-family:'Gorditas-regular' ;
    color: #898989;
    
}
#testimonials Div.bottom div.item ul li div.container{
    display: flex;
    justify-content: left;
    
}
#testimonials Div.bottom div.item ul li div.container div.image{
    
   
    
}
#testimonials Div.bottom div.item ul li div.container div.image img{
    width: 40px;
    border-radius: 50%;
    
    
}
#testimonials Div.bottom div.item ul li div.container div.name{
    text-align: left;
    margin-left: 20px;
   
    
}
#testimonials Div.bottom div.item ul li div.container div.name h5{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 12px;
   
    
}
#testimonials Div.bottom div.item ul li div.container div.name span.contact{
    display: block;
    font-size: 12px;
    color: #898989; 
}
#testimonials div.slide{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
#testimonials div.slide a{
   display: block;
}
#testimonials div.slide a span.blue{
    display: block;
    background-color: #a4bef3;
    width: 30px;
    height: 5px;
    margin-right: 15px;
    border-radius: 10px;

}
#testimonials div.slide a span.blue:hover{
    background-color: #1f6bff;

    

}
#testimonials div.slide a span.blue.active{
    
    background-color: #1f6bff;

}
Footer{
    padding: 80px 0px;
    background-color: #050c1e;

}
Footer Section.wrapper{
    
}
Footer Div.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 2px solid #898989;
    
}
Footer Div.top Div.item.large{
    width: 45%;
}
Footer Div.top Div.item.large h1{
    width: 100px;
    margin-bottom: 20px;
    
}
Footer Div.top Div.item.large h1 a{
    
    width: 100%;
    display: block;
}
Footer Div.top Div.item.large h1 a img{
    width: 100%;
    display: block;
}
Footer Div.top Div.item.large blockquote{
    color: #898989;
    width: 45%;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5em;
    
}
    
Footer Div.top Div.item{
    width: 12%;
    margin-bottom: 30px;
    
}
Footer Div.top Div.item ul{
    
}
Footer Div.top Div.item ul li{
    margin-bottom: 20px;
}
Footer Div.top Div.item ul li h5{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    
    
}
Footer Div.top Div.item ul li a{
    color: #898989;
    display: block;
    font-size: 14px;
    font-weight: 500;
    
}
Footer Div.bottom{
    display: flex;
    justify-content: space-between;
}
Footer Div.bottom h5{
    color: #898989;
    
}
Footer Div.bottom Div.left{
    width: 23%;
    
}
Footer Div.bottom Div.left ul{
    display: flex;
    justify-content: space-between;
    
}
Footer Div.bottom Div.left ul li{
   
    
}
Footer Div.bottom Div.left ul li a{
    color: #898989;
    font-family: 'Gordita-bold';
    font-size: 0.83em
    
}
@media all and (max-width:1380px){
    #spotlight {
      
        padding-bottom: 50px;
    }
    #product Div.middle div.item ul li div.img_container {
        height: 315px;
    }
    #product Div.middle div.item ul li h3 {
        width: 90%;
    }
    #app div.container h2 {
        width: 80%;
    }
    #app Div.container p {
        width: 75%;
    }
    #testimonials Div.top p {
        width: 48%;
    }
    Footer Div.top Div.item.large blockquote {
        width: 48%;
        
    }
 

}
@media all and (max-width:1280px){
    #spotlight {
        background-position: right 10px top 0px; 
        background-size: 480px 480px;
        padding-bottom: 40px;
    }
    #spotlight Div.top h1 {
        width: 43%;
        line-height: 1.5em;
    }
    #product Div.top h2 {
        width: 40%;
    }
    #product Div.middle div.item ul li div.img_container {
        height: 250px;
    }
    #product Div.middle div.item {
        width: 30%;
    }
    #product Div.middle div.item ul li h3 {
        width: 100%;
    }
    #product Div.middle div.item ul li p {
       
        font-size: 19px;
        width: 96%;
    }
    #finance {
        background-position: right 10px top 90px;
        background-size: 614px 371px;
       
    }
    #finance Div.top h2 {
        width: 40%;
    }
    #finance Div.bottom ul li {
        width: 47%;
    }
    #finance Div.bottom ul li.active {
        width: 46%;
    }
    #app div.bg img {
        right: -13px;
    }
    #app Div.container p {
        width: 95%;
        margin-bottom: 40px;
    }
    #app div.container h2 {
        width: 100%;
    }
    #testimonials Div.top p {
        width: 57%;
    }
    #testimonials Div.bottom {
        flex-wrap: wrap;
        justify-content: center;
    }
    #testimonials Div.bottom div.item {
        width: 35%;
    }
    #testimonials Div.bottom div.item:nth-child(odd) {
        margin-right: 30px;
    }
    #testimonials Div.bottom div.item:nth-child(1) {
        margin-bottom: 30px;
    }
    #testimonials Div.bottom div.item:nth-child(2) {
        margin-bottom: 30px;
    }
    #testimonials Div.bottom div.item ul li blockquote {
        width: 81%;
        font-size: 16px;
       
    }
    Footer Div.top Div.item.large blockquote {
        width: 56%;
    }
}
@media all and (max-width:1080px){

    #spotlight Div.top span.label {
        font-size: 18px;
    }
    #spotlight Div.top h1 {
        width: 48%;
        font-size: 50px;
        line-height: 1.3em;
    }
    #spotlight Div.top p {
        font-size: 15px;
        width: 50%;
        margin-bottom: 40px;
    }
    #spotlight Div.top form ul {
        width: 44%;
    }
    #spotlight Div.top form ul li label {
        font-size: 16px;
    }
    #spotlight Div.top form ul li input[type="email"] {
        width: 46%;
        font-size: 13px;
    }
    #spotlight Div.top form ul li input[type="submit"] {
        font-size: 18px;
        padding: 12px 24px;
        top: 16px;
    }
    #spotlight Div.bottom ul li {
        width: 60px;
    }
    #spotlight {
        background-size: 440px 440px;
        padding-bottom: 0px;
    }
    #product Div.top h2 {
        width: 50%;
    }
    #product Div.middle div.item ul li div.img_container {
        height: 240px;
    }
    #product Div.middle div.item ul li h3 {
        font-size: 30px;
    }
    #product Div.middle div.item ul li p {
        font-size: 18px;
        width: 100%;
    }
    #finance Div.top h2 {
        width: 50%;
    }
    #finance Div.bottom ul li {
        width: 52%;
    }
    #finance Div.bottom ul li.active {
        width: 52%;
    }
    #finance {
        background-position: right 10px top 164px;
        background-size: 549px 326px;
    }
    #app Div.container h2 {
        font-size: 40px;
    }
    #app Div.container p {
        width: 100%;
    }
    #testimonials Div.top Span.label {
        font-size: 18px;
    }
    #testimonials Div.top p {
        width: 63%;
    }
    #testimonials Div.bottom div.item ul li blockquote {
        width: 90%;
    }
    Footer Div.top Div.item.large blockquote {
        width: 62%;
    }
    Footer Div.bottom Div.left {
        width: 29%;
    }  
}
@media all and (max-width:980px){

}

