@font-face {
    font-family: 'Gorditas';
    src: url('Gorditas-Regular.woff2') format('woff2'),
        url('Gorditas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gorditas';
    src: url('Gorditas-Bold.woff2') format('woff2'),
        url('Gorditas-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

